.button {
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;

  &__form {
    width: 100%;
    height: 48px;
    margin: 16px 0 40px;
    padding: 0;
    background: #101010;
    font-family: "Syncopate";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;

    @include onTablet {
      margin: 0;
      width: 208px;
    }

    @include onLaptop {
      width: 251px;
    }

    &:hover {
      background: #24A9F4;;
    }

    &:focus {
      box-shadow: 1px 4px 16px rgba(47, 47, 165, 0.4);
    }

    &:disabled {
      background: $colorPaleBlueLily;
    }

    &--blue {
      background: #24A9F4;
      box-shadow: none;
      height: auto;
      transition-duration: 0.5s;

      &:hover {
        background: #1485c5
      }
    }
  }
}
