.button {
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;

  &__form {
    @include size(48px, 100%);
    margin: 16px 0 40px;
    padding: 0;
    background: $colorOnyx;
    font-family: $fontFamilySyncopate;
    font-weight: $fontWeight700;
    @include fontSizeLineHeight(16px, 22px);
    text-align: center;
    color: $mainWhite;
    transition: 0.3s;

    @include onTablet {
      margin: 0;
      width: 208px;
    }

    @include onLaptop {
      width: 251px;
    }

    &:hover {
      background: $ButterflyBlue;
    }

    &:focus {
      box-shadow: 1px 4px 16px rgba(47, 47, 165, 0.4);
    }

    &--blue {
      background: $ButterflyBlue;
      box-shadow: none;
      transition-duration: 0.5s;

      &:hover {
        background: #1485c5;
      }
    }
  }
}
