.footer {
  font-family: "Syncopate";
  background: $colorOnyx;
  transition-duration: 0.5s;

  &--dark-theme {
    background: #272727;
  }

  &__wrapper {
    max-width: 1696px;
    margin: auto;
    padding: 40px 30px 60px 30px;

    @include onTablet {
      padding: 60px 32px 72px 32px;
    }

    @include onLaptop {
      padding: 60px 40px 80px 40px;
    }

    @include onLaptopL {
      padding: 60px 71px 85px 71px;
    }

    @include onDesktop {
      display: grid;
      grid-template-areas:
        "logo logo"
        "social contact";
      column-gap: 25px;
    }
  }

  &__social-media_item {
    padding-left: 24%;
    background-color: $mainWhite;

    @include onTablet {
      padding: 0 16px;
    }

    &:hover {
      background-color: $ButterflyBlue;
    }
  }

  &__logo {
    @include fontSizeLineHeight(24px, 25px);
    color: $mainWhite;
    margin-bottom: 45px;

    @include onTablet {
      @include fontSizeLineHeight(36px, 37px);
    }

    @include onDesktop {
      grid-area: logo;
    }
  }

  &__headline {
    margin: 47px 0 24px;
    font-weight: $fontWeight700;
    @include fontSizeLineHeight(32px, 33px);
    text-transform: uppercase;
    color: $mainWhite;

    @include onTablet {
      @include fontSizeLineHeight(24px, 25px);
    }

    @include onLaptop {
      font-size: 36px;
      margin-top: 62px;
    }
  }

  &__contact-us_information {
    display: flex;
    flex-direction: column;
    gap: 34px;

    @include onTablet {
      gap: 24px;
    }

    @include onLaptop {
      flex-direction: row;
      gap: 42px;
    }
  }

  &__inforamtion-block {
    display: flex;
    flex-direction: column;
    gap: 11px;

    &_title {
      font-weight: $fontWeight700;
      @include fontSizeLineHeight(18px, 19px);
      color: $mainWhite;

      @include onLaptop {
        font-size: 16px;
      }
    }

    &_info {
      @include fontSizeLineHeight(13px, 14px);
      color: #bebebe;
    }
  }

  &__bottom {
    height: 57px;
    background: #1a1a1a;

    &--dark-theme {
      background: #2d2d2d;
    }
  }
}
