.footer {
  font-family: "Syncopate";
  background: #101010;

  &__wrapper {
    margin-top: 100px;
    padding: 40px 30px;
  }

  &__logo {
    font-size: 24px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 45px;
  }

  &__headline {
    margin: 47px 0 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__contact-us_information {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__inforamtion-block {
    display: flex;
    flex-direction: column;
    gap: 11px;

    &_title {
      font-weight: 700;
      font-size: 18px;
      line-height: 19px;
      color: #ffffff;
    }

    &_info {
      font-size: 13px;
      line-height: 14px;
      color: #bebebe;
    }
  }
}
