.footer {
  font-family: "Syncopate";
  background: #101010;

  &__wrapper {
    margin-top: 100px;
    padding: 40px 30px;

    @include onLaptop {
      padding: 60px 40px 80px 40px;
    }
  }

  &__logo {
    font-size: 24px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 45px;

    @include onTablet {
      font-size: 36px;
      line-height: 37px;
    }
  }

  &__headline {
    margin: 47px 0 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;

    @include onTablet {
      font-size: 24px;
      line-height: 25px;
      font-weight: 600;
    }

    @include onLaptop {
      font-size: 36px;
      margin-top: 62px;
    }
  }

  &__contact-us_information {
    display: flex;
    flex-direction: column;
    gap: 34px;

    @include onLaptop {
      flex-direction: row;
    }
  }

  &__inforamtion-block {
    display: flex;
    flex-direction: column;
    gap: 11px;

    &_title {
      font-weight: 700;
      font-size: 18px;
      line-height: 19px;
      color: #ffffff;

      @include onLaptop {
        font-size: 16px;
      }
    }

    &_info {
      font-size: 13px;
      line-height: 14px;
      color: #bebebe;
    }
  }

  &__bottom {
    height: 57px;
    background: #1a1a1a;
  }
}
