.form {
  font-size: 1.13rem;
  width: 340px;

  @include onTablet {
    margin-bottom: 50px;
  }

  @include onLaptop {
    margin-bottom: 78px;
  }

  &__label {
    @include onTablet {
      width: 425px;
    }

    @include onLaptop {
      width: 830px;
    }

    @include onLaptop {
      width: 740px;
    }
  }

  @include onTablet {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @include onLaptop {
    width: 67%;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;

    font-family: 'KyivType Sans';
    font-size: 0.88rem;
    line-height: 24px;
    border: 1px solid #c6c6c6;
    outline: none;

    @include onTablet {
      padding: 11px 20px;
    }

    &::placeholder {
      font-family: 'KyivType Sans';
      font-size: 16px;
      line-height: 22px;
      color: #101010;
    }

    &:valid {
      font-size: 1rem;
      border: 1px solid $colorSuccessGreen;
      color: $colorSurfieGreen;
    }

    &:focus {
      border: 1px solid $colorSurfieGreen;
      color: $colorDune;
    }

    &-message {
      margin-top: 20px;
      resize: none;
    }
  }
}
