.header {
  position: relative;

  &__menu {
    padding: 0 0 38px 32px;

    @include onTablet {
      padding: 0 40px 38px 50px;
    }

    @include onLaptop {
      padding: 0 51px 38px 33px;
    }

    @include onDesktop {
      padding: 0 51px 38px 56px;
    }
  }

  &__logo {
    font-family: 'Syncopate';
    font-size: 20px;
    line-height: 21px;
    color: #101010;
    transition-duration: 0.5s;

    &--white {
      color: white;
    }

    @include onTablet {
      font-size: 36px;
      line-height: 37px;
    }
  }

  &__nav {
    @extend %flexAlignCenter;
    justify-content: space-between;
    padding: 39px 0 8px 0;

    @include onTablet {
      display: grid;
      grid-template-columns: 78% 5% 5.7%;
    }
  }

  &__menu-opener {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    background-color: #101010;
    transition-duration: 0.3s;

    &:hover {
      border-radius: 5px;
      box-shadow: rgba(36, 169, 244, 0.7) 0px -50px 36px -28px inset;
    }

    &--dark {
      background-color: white;

      & > svg > path {
        fill: #101010;
      }
    }
  }

  &__theme-swithcer {
    display: none;

    @include onTablet {
      display: block;
    }
  }
}
