.header {
  position: relative;

  &__functional {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  &__switcher {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__icons {

    @include onTablet {
      margin-left: auto;
    }
  }

  &__logo {
    font-family: $fontFamilySyncopate;
    @include fontSizeLineHeight(20px, 21px);
    color:  $colorOnyx;
    transition-duration: 0.5s;

    &--white {
      color: $mainWhite;
    }

    @include onTablet {
      @include fontSizeLineHeight(36px, 37px);
    }
  }

  &__nav {
    @extend %flexAlignCenter;
    justify-content: space-between;
    padding: 39px 0 8px 0;

    @include onTablet {
      display: flex;
    }

    @include onLaptop {
      display: flex;
      gap: 175px;
    }
  }

  &__menu-opener {
    display: flex;
    justify-content: center;
    align-items: center;
    @include square(40px);
    text-decoration: none;
    color: $mainWhite;
    background-color:  $colorOnyx;
    transition-duration: 0.3s;

    &:hover {
      border-radius: 5px;
      box-shadow: rgba(36, 169, 244, 0.7) 0px -50px 36px -28px inset;
    }

    &--dark {
      background-color: $mainWhite;

      & > svg > path {
        fill:  $colorOnyx;
      }
    }
  }

  &__inforamtion-block {
    display: none;
    flex-direction: column;
    font-family: $fontFamilySyncopate;
    gap: 11px;

    &_title {
      text-decoration: none;
      @include fontSizeLineHeight(16px, 17px);
      color:  $colorOnyx;
      transition: text-shadow .3s;
      cursor: pointer;
    }

    &_info {
      @include fontSizeLineHeight(13px, 14px);
      color: #bebebe;
    }

    @include onLaptop {
      display: flex;
    }
  }
}
