.header {
  position: relative;

  &__menu {
    padding: 0 0 38px 32px;
  }

  &__logo {
    font-family: 'Syncopate';
    font-size: 20px;
    line-height: 21px;
    color: #101010;

    @include onTablet {
      font-size: 36px;
      line-height: 37px;
    }
  }

  &__nav {
    @extend %flexAlignCenter;
    justify-content: space-between;
    padding: 39px 0 0;

    @include onTablet {
      display: grid;
      grid-template-columns: 82% 5% 5%;
    }
  }

  &__menu-opener {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    background-color: #101010;
  }

  &__theme-swithcer {
    display: none;

    @include onTablet {
      display: block;
    }
  }
}
