.hero {
  @include onLaptop {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    margin-bottom: 71px;
  }

  @include onLaptopL {
    margin-bottom: 88px;
  }

  &__content {
    @include onLaptop {
      margin-top: 9px;
      max-width: 230px;
    }

    @include onLaptopL {
      max-width: 288px;
    }
  }

  &__title {
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    text-align: center;

    @include onTablet {
      text-align: left;
    }

    &_black {
      font-size: 42px;
      color: #101010;

      @include onTablet {
        font-size: 91px;
      }

      @include onLaptop {
        font-size: 29px;
      }

      @include onLaptopL {
        font-size: 37px;
      }
    }

    &_blue {
      font-size: 53px;
      color: white;
      border: #24a9f4;
      -webkit-text-stroke: 1px #24a9f4;

      @include onTablet {
        font-size: 115px;
      }

      @include onLaptop {
        font-size: 37px;
      }

      @include onLaptopL {
        font-size: 47px;
      }
    }
  }

  &__headline {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #101010;
  }

  &__paragraph {
    font-family: "KyivType Sans", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #101010;
  }

  &__slider {
    margin-bottom: 20px;
    
    @include onTablet {
    }

    @include onLaptop {
    }

    &_slide {
      width: -webkit-fill-available;
      display: none;
      opacity: 0;
      transition: 0.4s;

      &-picture {
        object-fit: cover;
        width: inherit;
      }
    }

    &_controler {
      display: flex;
      transform: translate(17px, -43px);
      gap: 17px;
      align-items: center;
    }

    &_pagination {
      display: flex;
      align-items: baseline;
      font-family: "Syncopate";
      font-size: 18px;
      line-height: 19px;
      color: #ffffff;

      &--fist {
        font-weight: 700;
      }
    }

    &_button-prev {

      &::after {
        content: "";
        display: block;
        cursor: pointer;
        width: 24px;
        height: 20.94px;
        transition: 0.2s;
        background-image: url(/images/array-left.svg);
        background-size: contain;
      }

      &:hover:after {
        content: "";
        background-image: url(/images/array-left-hover.png);
        background-size: contain;
        width: 24px;
        height: 20.94px;
      }
    }

    &_button-next {
      &::after {
        content: "";
        display: block;
        cursor: pointer;
        width: 24px;
        height: 20.94px;
        background-image: url(/images/array-right.svg);

        transition: 0.2s;
      }
      &:hover:after {
        content: "";
        background-image: url(/images/array-right-hover.svg);
      }
    }
  }

  &__slider--active {
    display: block;
    opacity: 1;
    animation: showSlider 400ms linear;
  }
}

@keyframes showSlider {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.swiper-scrollbar {
}
