.hero {
  @include onLaptop {
    display: flex;
    gap: 16px;
    margin-bottom: 71px;
  }

  @include onLaptopL {
    margin: 16px 0 88px 0;
    gap: 24px;
  }

  &__content {
    @include onLaptop {
      margin-top: 0;
      max-width: 230px;
    }

    @include onLaptopL {
      max-width: 324px;
    }

    @include onDesktop {
      max-width: 430px;
    }
  }

  &__title {
    font-family: $fontFamilySyncopate;
    text-transform: uppercase;
    text-align: center;

    @include onTablet {
      text-align: left;
    }

    &_black {
      font-size: 42px;
      color: $colorOnyx;
      transition-duration: 0.5s;

      &--white {
        color: $mainWhite;
      }

      @include onTablet {
        font-size: 91px;
      }

      @include onLaptop {
        font-size: 29px;
      }

      @include onLaptopL {
        font-size: 37px;
      }

      @include onDesktop {
        font-size: 51px;
      }
    }

    &_blue {
      font-size: 53px;
      color: $mainWhite;
      border: $ButterflyBlue;
      -webkit-text-stroke: 1px $ButterflyBlue;
      transition-duration: 0.5s;

      &--black {
        color: $colorOnyx;
      }

      @include onTablet {
        font-size: 115px;
      }

      @include onLaptop {
        font-size: 37px;
      }

      @include onLaptopL {
        font-size: 47px;
        -webkit-text-stroke: 1.5px $ButterflyBlue;
      }

      @include onDesktop {
        font-size: 64px;
      }
    }
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $fontFamilySyncopate;
    font-weight: $fontWeight700;
    @include fontSizeLineHeight(14px, 15px);
    text-transform: uppercase;
    color: $colorOnyx;
    padding: 16px 0;
    border-bottom: 1px solid $colorOnyx;
    cursor: pointer;
    transition-duration: 0.3s;

    &--active::after {
      content: url(/images/arrow-hero.svg);
      transform: rotate(90deg);
    }

    @include onLaptopL {
      @include fontSizeLineHeight(16px, 17px);
      padding: 20px 0;
    }

    @include onDesktop {
      @include fontSizeLineHeight(15px, 16px);
      padding: 25px 0;
    }

    &::after {
      content: url(/images/arrow-hero.svg);
      height: 12px;
      width: 10px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover::after {
      content: url(/images/arrow-hero-blue.svg);
    }

    &--night {
      color: $mainWhite;
      border-bottom: 1px solid $mainWhite;

      &::after {
        content: url(/images/arrow-hero-white.svg);
      }

      &:hover {
        color: $ButterflyBlue;
      }
    }
  }

  &__paragraph {
    display: none;
    font-family: $fontFamilyKyivType;
    @include fontSizeLineHeight(14px, 22px);
    color: $colorOnyx;
    border-bottom: 1px solid;
    padding: 16px 0;

    &--active {
      display: block;
      opacity: 1;
      animation: showContent 0.5s linear;
    }

    &--night {
      color: $mainWhite;
    }

    @include onLaptopL {
      @include fontSizeLineHeight(16px, 24px);
    }

    @include onDesktop {
      padding: 16px 0 60px;

      &::after {
        content: "
        The purpose of lorem ipsum is to create a natural looking block
        of text that doesn't distract from the layout. A practice not without controversy,
        laying out pages with meaningless filler text can be very useful when the focus is
        meant to be on design, not content
        ";
      }
      @include fontSizeLineHeight(16px, 24px);
    }
  }

  &__slider {
    margin: 29px 0 50px 0;

    @include onTablet {
    }

    @include onLaptop {
      margin: 0;
      @include size(auto, 100%);
    }

    &_slide {
      width: -webkit-fill-available;
      display: none;
      opacity: 0;
      transition: 0.4s;

      &-picture {
        object-fit: cover;
        width: inherit;

        @include onLaptop {
          @include size(498px, 100%);
        }

        @include onDesktop {
          height: 682px;
        }
      }
    }

    &_controler {
      display: flex;
      transform: translate(17px, -43px);
      gap: 17px;
      align-items: center;

      @include onTablet {
        transform: translate(25px, -55px);
      }

      @include onLaptopL {
        transform: translate(30px, -70px);
      }
    }

    &_pagination {
      display: flex;
      align-items: baseline;
      font-family: $fontFamilySyncopate;
      @include fontSizeLineHeight(18px, 19px);
      color: $mainWhite;

      @include onTablet {
        @include fontSizeLineHeight(24px, 25px);
      }

      @include onLaptopL {
        @include fontSizeLineHeight(36px, 37px);
      }

      &--fist {
        font-weight: $fontWeight700;
      }
    }

    &_button-prev {
      &::after {
        content: "";
        display: block;
        cursor: pointer;
        @include size(20.94px, 24px);
        transition: 0.2s;
        background-image: url(/images/array-left.svg);
        background-size: contain;
        background-repeat: no-repeat;

        @include onTablet {
          @include size(28px, 32px);
        }

        @include onLaptopL {
          @include size(41px, 47px);
        }
      }

      &:hover:after {
        content: "";
        background-image: url(/images/array-left-hover.png);
        background-size: contain;
        @include size(20.94px, 24px);

        @include onTablet {
          @include size(28px, 32px);
        }

        @include onLaptopL {
          @include size(41px, 47px);
        }
      }
    }

    &_button-next {
      &::after {
        content: "";
        display: block;
        cursor: pointer;
        @include size(20.94px, 24px);
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/images/array-right.svg);
        transition: 0.2s;

        @include onTablet {
          @include size(28px, 32px);
        }

        @include onLaptopL {
          @include size(41px, 47px);
        }
      }
      &:hover:after {
        content: "";
        background-image: url(/images/array-right-hover.svg);

        @include onTablet {
          @include size(28px, 32px);
        }

        @include onLaptopL {
          @include size(41px, 47px);
        }
      }
    }
  }

  &__slider--active {
    display: block;
    opacity: 1;
    animation: showSlider 400ms linear;
  }
}

@keyframes showSlider {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showContent {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 100%;
    opacity: 1;
  }
}
