.icon {
  @include square(24px);
  @extend %BackgroundNoRepeatContain;
  display: block;
  background-position: $backgroundPositionCenter;
  transition-duration: 0.2s;

  &__social-nav {
    @include square(32px);
    background: none;

    &--dark {
      & > path {
        fill: $mainWhite
      }
    }

    & > path {
      transition-duration: 0.5s;
      &:hover {
        fill: $ButterflyBlue;
      }
    }
  }
}
