.latest-news {

  &__headline {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
    color: #101010;

    @include onTablet {
      font-size: 32px;
    }
  }
    &__card_headline {
      padding: 0 25px;
      font-family: "Syncopate", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #101010;
    }

    &__card_paragraph {
      padding: 5px 25px 25px 25px;
      font-family: "KyivType Sans";
      font-size: 16px;
      line-height: 24px;
      color: #101010;

      @include onTablet {
        padding: 4px 16px 30px 16px;
      }
    }
  }

