.latest-news {

  &__swiper {
    margin-bottom: 56px;

    @include onLaptop {
      margin-bottom: 20px;
    }
  }

  &__headline {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
    color: #101010;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 32px;
    }
  }

  &__swiper {
    position: relative;
  }

  &__card {
    cursor: pointer;

    &:hover {
      box-shadow: -6px 6px #24a9f4, -6px 6px 0px 1px #101010;
    }

    &--night:hover {
      box-shadow: -6px 6px #24a9f4, -6px 6px 0px 1px white;
    }



    &_content-wrapper {
      text-align: initial;
      height: 164px;
      margin: 11px 25px 25px 25px;

      @include onTablet {
        height: 205px;
        margin: 10px 16px 25px 16px;
      }

      @include onDesktop {
        height: 170px;
        margin: 16px 24px 25px 24px;
      }
    }

    &_headline {
      margin-bottom: 4px;
      font-family: "Syncopate", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #101010;

      @include onTablet {
        font-size: 14px;
      }

      @include onLaptopL {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &_paragraph {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-family: "KyivType Sans";
      font-size: 16px;
      line-height: 24px;
      color: #101010;
      display: block;
      overflow: hidden;

      @include onLaptop {
        font-size: 14px;
      }

      @include onLaptopL {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
