.logo {
  text-decoration: none;
  font-family: $fontFamilySyncopate;

  &_blue {
    color: $ButterflyBlue;
    font-weight: $fontWeight700;
  }

  @include onLaptopL {
    margin-bottom: 8px;
  }
}
