.logo {
  text-decoration: none;

  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #101010;

  &_blue {
    color: #24a9f4;
    font-weight: 700;
  }
}
