.menu {
  position: fixed;
  flex-direction: column;
  font-family: $fontFamilySyncopate;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 7;
  background: $mainWhite;
  transform: translateX(120%);
  transition: transform 0.5s ease;
  overflow: auto;

  &--dark {
    background:  $colorOnyx;
  }

  &:target {
    transform: translateX(0);
  }

  &__switcher {
    margin-bottom: 20px;

    @include onTablet {
      display: none;
    }
  }

  &__contact-us {
    margin: 0;

    &__title {
      font-weight: $fontWeight700;
      @include fontSizeLineHeight(20px, 21px);
      text-transform: uppercase;
      color:  $colorOnyx;

      @include onTablet {
        font-size: 32px;
        margin-bottom: 21px;
      }
    }
  }

  &__contact-us_information {
    display: flex;
    flex-direction: column;
    gap: 34px;

    @include onTablet {
      gap: 24px;
      margin-bottom: 30px;
    }
  }

  &__inforamtion-block {
    display: flex;
    flex-direction: column;
    gap: 11px;

    &_title {
      font-weight: $fontWeight700;
      @include fontSizeLineHeight(14px, 15px);
      color:  $colorOnyx;
      transition: text-shadow .3s;
      cursor: pointer;

      &:hover {
        text-shadow: -4px 2px $ButterflyBlue;
      }

      @include onTablet {
        font-size: 18px;
      }
    }

    &_info {
      @include fontSizeLineHeight(12px, 12px);
      color: #bebebe;

      @include onTablet {
        font-size: 14px;
      }
    }
  }

  &__cross {
    transform: translate(-15px, 15px);
    margin-left: auto;
    height: 16px;

    &:hover {
      filter: contrast(0.5);
    }

    @include onLaptop {
      position: absolute;
      right: 0;
    }

    @include onLaptopL {
      height: 24px;
      position: absolute;
      right: 0;
    }

    &--dark {
      & > svg > path {
        fill: $mainWhite;
      }
    }
  }

  &__container-top {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 4;
    top: 0;

    box-shadow: 2px 16px 19px -14px rgba(0, 0, 0, 0.29);
    overflow: hidden;
  }

  &__list {
    @extend %flexColumn;
    gap: 32px;
    padding-top: 25px;
    margin-right: 30px;
    list-style: none;

    @include onTablet {
      margin-bottom: 220px;
      padding-top: 40px;
    }

    @include onLaptop {
      margin-right: 0;
      padding-top: 51px;
    }

    @include onLaptop {
      gap: 48px;
      padding-top: 51px;
    }
  }

  &__social-media__links {
    margin: 38px 0;
    display: flex;
    gap: 32px;

    @include onTablet {
      margin-bottom: 24px;
    }
  }

  &__social-media__item {
    @include square(32px);
    left: 108px;
    top: 745px;
    text-decoration: none;
    color: black;
    font-size: 28px;
  }

  &-item {
    &__link {
      font-family: $fontFamilySyncopate;
      font-style: normal;
      font-weight: $fontWeight700;
      @include fontSizeLineHeight(20px, 21px);
      text-transform: uppercase;
      text-decoration: none;
      color:  $colorOnyx;
      transition: text-shadow .3s;

      &:hover {
        text-shadow: -4px 2px $ButterflyBlue;
      }

      @include onTablet {
        font-size: 32px;
      }
    }
  }
}

.blurBackground {
  background: rgba(217, 217, 217, 0.3);
  filter: blur(7.5px);
}
