.notification {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__headline {
    margin-bottom: 24px;
    font-family: "Syncopate", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #101010;

    @include onTablet {
      padding: 0 45px;
      margin-top: 78px;
    }

    @include onLaptop {
      padding: 0 80px;
    }

    @include onLaptopL {
      font-size: 36px;
      line-height: 37px;
    }
  }
}
