body {
  transition-duration: 0.3s;
}

.page {
  scroll-behavior: smooth;

  &__body {
    padding: 0 24px;
    background: white;
    overflow-x: hidden;
    max-width: 1696px;
    margin: auto;
    transition-duration: 0.3s;

    &--black {
      background: #101010;
      color: white;
    }

    &--with-menu {
      overflow: hidden;
    }

    @include onTablet {
      padding: 0 32px;
    }

    @include onLaptop {
      padding: 0 50px;
    }

    @include onLaptopL {
      padding: 0 71px;
    }
  }
}
