.page {
  scroll-behavior: smooth;
  font-family: $fontFamilyInter;


  &__body {
    margin: 0 24px;
    background: white;
    overflow-x: hidden;

    &--with-menu {
      overflow: hidden;
    }

    @include onTablet {
      margin: 0 32px;
    }

    @include onLaptop {
      margin: 0 50px;
    }
  }
}
