.scroll-up {
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  position: fixed;
  @include square(25px);
  opacity: 0.3;
  bottom: 197px;
  right: 15px;

  text-decoration: none;
  color: $colorBlack;
  transition: 0.3s;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
