.social-media {
  &__links {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    margin: auto;
    gap: 16px;

    @include onTablet {
      flex-direction: row;
      justify-content: start;
      max-width: auto;
      gap: 24px;
      margin: 0;
    }

    @include onLaptop {
      justify-content: start;
    }
  }

  &__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    @include fontSizeLineHeight(16px, 22px);
    font-family: $fontFamilySyncopate;
    font-weight: $fontWeight700;
    height: 48px;
    color: $colorOnyx;
    transition-duration: 0.5s;

    @include onTablet {
      flex-direction: row-reverse;
      height: 48px;
    }

    @include onLaptop {
      width: auto;
    }
  }
}
