@font-face {
  font-family: "KyivType Sans";
  src: url("../fonts/KyivTypeSans-Light-.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyivType Sans";
  src: url("../fonts/KyivTypeSans-Medium2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
