$fontFamilyKyivType: "KyivType Sans", sans-serif;
$fontFamilySyncopate: "Syncopate", sans-serif;
$fontWeight700: 700;

$colorOnyx: #101010;
$ButterflyBlue: #24a9f4;
$mainWhite: #ffffff;
$colorSuccessGreen: #4bb543;
$colorSurfieGreen: #0c797a;
$colorDune: #333;
$colorBlack: #000;

$backgroundSizeContaine: contain;
$backgroundPositionCenter: center;
$backgroundNoRepeat: no-repeat;
